services:
  log-lupus-helper:
    container_name: log-lupus-helper
    image: log-lupus-helper
    restart: no
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    volumes:
    - ./json.sqlite:/app/json.sqlite
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    networks:
      - protonmail-bridge
      - caddy

networks:
  protonmail-bridge:
    name: protonmail-bridge
    external: true
  caddy:
    name: caddy
    external: true